body {
  margin: 0;
  padding: 50px
}

.wrapper {
  margin-left: 40px;
  height: 100px;
  width: 680px;
}

.name {
  width: 200px;
  font-size: 20px;
  padding-top: 18px;
}

.title {
  font-style: italic;
  font-weight: bold;
}

.chapter {
  color: black;
}

.personalprofile {
  display: block;
  height: 280px;
  width: 280px;
}

.education {
  display: inline-block;
  height: 280px;
  width: 280pz;
}
