* {
  box-sizing: border-box;
  //outline: 1px dotted grey;
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url('../img/varsity_lacrosse_lineup_bandw.jpg');
}

#name {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: white;
  height: 100px;
  padding-top: 100px;
  text-decoration: underline;
  width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
}

.nav {
  background-color: black;
  color: white;
  margin: 0 0 0 0;
  display: inline-block;
  position: relative;
  width: 100%;
  list-style-type: none;
  padding-left: 850px;
}

.nav li {
  display: inline;
  padding: 10px;
}

#downarrow {
  background-color: black;
  width: 75px;
  height: 65px;
  vertical-align: middle;
  float: right;
  position: relative;
  text-align: center;
  margin-right: 50px;
  margin-top: 490px;
}

#profile {
  width: 100%;
  height: 50vh;
  background-color: lightgrey;
  display: block;
  position: ;
}

.null {
  display: none;
  //This means there is no interaction is it literally not there.
  display: block;
  //This is a block element, it cannot be inline with others, like a div.
  display: inline;
  //This is like a span, little awkward.
  display: inline-block;
  //This has outer properties of an inline element, inner of a block


  position: static;
  //This is the default
  position: relative;
  position: absolute;
  position: fixed;

  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin: 0 0 0 0;
  padding: 0 0 0 0;

  width: 100px;
  height: 100px;

  box-sizing: border-box;
  //This makes padding grow from the inside, makes more sense.
}
