body {
  margin: 0;
}

.logo {
  width: 100px;
  height: 50px;
  font-size: 25px;
  background: grey;
  text-align: center;
  padding-top: 18px;
  display: inline-block;
}

.nav {
  height: 50px;
  padding-top: 18px;
  display: inline-block;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline;
}
